/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #247b7b;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Nav and Hero Section */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* min-height: 10vh; */
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  transition: top 0.3s;
  top: 0;
  z-index: 3;
  text-decoration: none;
  margin: 0;
  /* background: #fff; */
}

nav ul {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  padding: 0.5rem;
}

#logo {
  flex: 2 1 20rem;
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-weight: normal;
  display: flex;
  justify-content: center;
  font-family: "Lobster", cursive;
  font-size: 4rem;
}

nav ul li a,
#logo a {
  color: #fff;
}

/* stylelint-disable-next-line no-descending-specificity */
nav ul li a:hover {
  color: #aeb2b2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

/* Download Button */
#btn-container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10rem;
}

.button1,
.button2 {
  padding: 0rem 3.5rem;
  margin: 12rem 7rem;
  width: auto;
  background: #0d5c63;
  border: none;
  color: #fffffa;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.button1:hover,
.button2:hover {
  background: #0f7e88;
}

.button1:focus,
.button2:focus {
  background: #247b7b;
}

#button-image {
  width: 2rem;
  height: 2rem;
  margin: 1rem 2rem 1rem 0;
}

/* Hero Section */
.hero {
  min-height: 80vh;
  background: linear-gradient(#2c1708, 25%, transparent),
    url("/images/pablo-merchan-montes-wYOPqmtDD0w-unsplash.jpg");
  /* background: url("/images/pablo-merchan-montes-wYOPqmtDD0w-unsplash.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fffffa;
  object-fit: cover;
}

.hero h2 {
  text-align: center;
  margin: 25rem 0rem;
  padding: 0rem 2rem 2rem 2rem;
  font-family: "Kaushan Script", cursive;
}

.hero h3 {
  padding: 5rem;
}

.burger,
.menu-check {
  display: none;
  margin-right: 2rem;
}

/* Features */
.features {
  margin: 19rem 0rem 10rem 0rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#feature {
  display: flex;
}

.feature-container {
  display: flex;
  flex-flow: column wrap;
  margin: 4rem 1.5rem;
}

.feature-svg {
  margin: 4% 40%;
}

.feat-h2 {
  text-align: center;
}

.feature-title,
.feature-text {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Food Section */
#food {
  min-height: 90vh;
  display: flex;
  padding: 2rem 5rem 10rem 5rem;
  background: linear-gradient(black, 50%, transparent),
    url("/images/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  font-size: 2rem;
}

.food-header {
  color: #fffffa;
  width: 90%;
  margin: auto;
}

.food-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.food-header h3 {
  padding: 9rem 0rem;
  color: #aeb2b2;
}

/* Diets Section */

#diets {
  min-height: 80vh;
  background: linear-gradient(to top, #44a1a0, transparent);
  display: block;
}

/* Caption text */
.text {
  color: #0a6e79;
  text-align: center;
  font-size: 2rem;
  line-height: 10rem;
  margin: 1.5rem 0rem 4rem 0rem;
}

.slideshow-container {
  margin: auto;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel .carouselItem,
.carousel .carouselItemHidden {
  display: none;
}

.carousel .carouselItem img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44vw;
  border-radius: 25%;
  margin: 1rem auto;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}

.carousel .carouselItemVisible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carouselActions {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carouselActions button {
  border-color: #fffffa;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: 50%;
  padding: 1rem;
  color: #266666;
  background: transparent;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 50% 50%;
  user-select: none;
}

.carousel .carouselActions button:hover {
  border-color: #d4d4cb;
  background-color: transparent;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Call to Action Section */
.cta-header {
  margin: 15rem 0rem;
  color: #fffffa;
  width: 90%;
}

#cta {
  min-height: 80vh;
  background: linear-gradient(to bottom, #44a1a0, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Footer Section */
footer {
  color: white;
  background: #fffffa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-wrapper {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  min-height: 20vh;
}

footer h5 {
  color: #247b7b;
  flex: 0.5 1 10rem;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 0rem;
  margin-left: 30rem;
}

footer ul li {
  padding: 0 3rem;
}

/* Contact Page & Recipes Page Kinda...*/
#contact,
#recipes {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.form-header {
  padding: 15rem 4rem 4rem 4rem;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  background: rgba(13, 34, 27, 0.8);
  width: auto;
  color: #fffffa;
  border-radius: 20px;
  padding: 1rem 3rem;
}

.name-form,
.email-form,
.message-form {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.meal-form,
.time-form,
.diet-form {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.label {
  margin: 2rem 2rem;
}

/* .form-wrapper button {
  width: 50%;
  padding: 1rem;
  margin: 2rem 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
} */

/* Recipes Page */
#meal,
#time,
#diet {
  font-size: 1.2rem;
}

/* About Page */
#about {
  min-height: 100vh;
  background-image: linear-gradient(360deg, #dadada, 50%, transparent),
    url("/images/joseph-gonzalez-QaGDmf5tMiE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.85;
}
.about-header {
  text-align: center;
  display: flex;
  margin: 15rem 90rem 5rem 15rem;
  color: #030303;
  text-decoration: underline 0.5rem solid;
  background-color: transparent;
  border-radius: 20px;
  opacity: 1;
}
.about-text {
  color: #1d2324;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 30rem 40rem 30rem;
}

.about-text p {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: normal;
}

/* Styles for mobile */
@media only screen and (max-width: 767px) {
  .hero h2 {
    text-align: center;
  }

  /* burger thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .burger span {
    padding: 0.2rem 2rem;
    background: #247b7b;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: #247b7b;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transforn 1s ease;
  }
  .nav-open {
    transform: translateX(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
  .form-wrapper {
    width: 100%;
  }

  #btn-container {
    justify-content: center;
  }

  .button1,
  .button2 {
    margin: 4rem;
  }

  .text {
    font-size: 1rem;
    line-height: 2;
    margin: 5rem 10rem;
  }
  .carousel .carouselItem img {
    height: 35vh;
    width: 42vw;
  }

  .carousel .carouselActions {
    top: 52.5%;
    width: 85%;
  }

  footer {
    text-align: center;
    color: white;
    background: #fffffa;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer h5 {
    flex: 1 1 40rem;
    text-align: center;
    padding-right: 4rem;
  }

  .footer-wrapper {
    flex-direction: row;
  }

  footer ul {
    margin-left: 0rem;
  }

  footer ul li {
    padding: 0 1.5rem;
  }
}
