/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

a {
  color: #247b7b;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* Nav and Hero Section */

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0rem 10rem;
  padding: 2rem 0rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  transition: top 0.3s;
  top: 0;
  z-index: 3;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  min-height: 10vh;
  padding: 1rem;
}

#logo {
  flex: 1 1 20rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

/* Download Button */
#btn-container {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.button1,
.button2 {
  padding: 0rem 3.5rem;
  margin: 12rem 7rem;
  width: auto;
  background: #0d5c63;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.button1:hover,
.button2:hover {
  background: #0f7e88;
}

.button1:focus,
.button2:focus {
  background: #247b7b;
}

#button-image {
  width: 2rem;
  height: 2rem;
  margin: 1rem 2rem 1rem 0;
}

/* Hero Section */

.hero {
  min-height: 90vh;
  background: url("/images/pablo-merchan-montes-wYOPqmtDD0w-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero h2 {
  text-align: center;
  margin: 25rem 0rem;
  padding: 0rem 0rem 6rem 0rem;
}

.hero h3 {
  padding: 5rem;
}

.burger,
.menu-check {
  display: none;
}

/* Food Section */

#food {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 9rem 5rem;
  background: linear-gradient(black, 50%, transparent),
    url("/images/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg");
  text-align: left;
  font-size: 2rem;
}

.food-header {
  color: #fffffa;
  width: 90%;
  margin: auto;
}

.food-header h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.food-header h3 {
  padding: 9rem 0rem;
  background: linear-gradient(#0a7f8b, #beb8b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Features */
#features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.feature-container {
  margin: 4rem;
}

.feature-svg {
  margin: 5rem 0rem;
  padding: 5% 40%;
}

.feature-title,
.feature-text {
  font-size: 1.5rem;
  text-align: center;
}

/* Recipes Section */

.recipes-header {
  text-align: center;
  margin-top: 5rem;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100rem;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #247b7b;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.diet {
  max-width: 100rem;
  height: auto;
  width: 500px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Call to Action Section */

#cta {
  min-height: 90vh;
  background: linear-gradient(#44a1a0, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Footer Section */

footer {
  color: white;
  background: #fffffa;
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  color: #247b7b;
  flex: 1 1 40rem;
  text-align: left;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  /* burger thing */
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #247b7b;
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    font-size: var(--header3);
    text-decoration: underline;
  }
  .nav-links {
    background: #247b7b;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transforn 1s ease;
  }
  .nav-open {
    transform: translateX(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 3rem;
    color: #247b7b;
    flex: 1 1 40rem;
    text-align: center;
  }
}
